@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

body
{
    background: #111;
    overflow: hidden;
    height: 100vh;
}
/*
body a{
    font-size: 6em;
    font-weight: 500;
    color: #222;
    letter-spacing: 5px;
    text-decoration: none;
}

body a span{
    transition: 0.5s;
}
body a:hover span:nth-child(1)
{
    margin-right: 10px;
}
*/

i
{
    position: absolute;
    height: 200px;
    background: linear-gradient(transparent,#fff);
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    animation: animate 5s linear infinite;

}

i:nth-child(3n+1)
{
    background: linear-gradient(transparent,#0ff);
}

i:nth-child(3n+2)
{
    background: linear-gradient(transparent,#f0f);
}

i:nth-child(3n+3)
{
    background: linear-gradient(transparent,#0f0);
}


.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 250px;
}

.container .card
{
    position: relative;
    width: 220px;
    height: 250px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card .percent
{
    position: relative;
    width: 150px;
    height: 150px;
}

.container .card .percent svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

.container .card .percent svg circle
{
width: 100%;
height: 100%;
fill: transparent;
stroke: 2;
stroke: #111;
transform: translate(5px,5px);
}

.container .card .percent svg circle:nth-child(2)
{
    stroke: var(--clr);
    stroke-dasharray: 394;
    stroke-dashoffset: calc(400 - (440 * var(--num)) / 100);
    opacity: 0;
    animation: fadein 1s linear forwards;
    animation-delay:2s ;
}
@keyframes fadein
{
    0%
    {
        opacity: 0;
    }
    100%{
     opacity: 1;
    }
}

.dot
{
    position: absolute;
    background: ;
    inset: 5px;
    z-index: 10;
    transform: rotate(calc(3.6deg * var(--num)));
    /*360deg / 100 = 3.6 */
    animation: animateDot 2s linear forwards;
}

@keyframes animateDot
{
    0%
    {
        transform: rotate(0deg);
    }
    100%{
          transform: rotate(calc(3.5deg * var(--num)));
    }
}

.dot::before
{
content:'';
position: absolute;
top: -5px;
left: 50%;
transform: translateX(-50%);
width: 10px;
height: 10px;
border-radius: 50%;
background: var(--clr);


box-shadow: 0 0 10px var(--clr),
0 0 30px var(--clr);
}

.number
{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: fadein 1s linear forwards;
    animation-delay:2s ;
}

.number h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--clr);
    font-weight: 550;
    font-size: 2.5em;
}

.number h2 span
{
    font-weight: 500;
    color: #fff;
    font-size: 0.5em;
}

.number p{
    font-weight: 400;
    font-size: 0.75rem;
    margin-top: 6px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color:yellow;
}
header{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
}


header .logo{
    position: relative;
    display: inline-flex;
    color: var(--black);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}


@keyframes animate
{
    0%
    {
        transform: translateY(-200px);
    }
    100%
    {
      transform: translateY(calc(100vh + 200px));
    }
}



:root{
    --black:rgb(8, 243, 8);
    --white:#fff;
}

.dark{
    --black:#fff;
    --white:#333;
}


header{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
}

header .logo{
    position: relative;
    display: inline-flex;
    color: var(--black);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.rightside{
    display: flex;
}
.btns{
    position:relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}
.btns ion-icon{
    font-size: 1.5em;
    color: var(--black);
}
.btns.menuToggle ion-icon{
    font-size: 3em;
    
}

.btns ion-icon:nth-child(2){
  display: none;

}

.btns.active ion-icon:nth-child(2)
{
    display: block;
}

.btns.active ion-icon:nth-child(1)
{
    display: none;
}

.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main video{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;

}

.mask{
    position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 2;
   user-select: none;
   mix-blend-mode: screen;
}
 .dark .mask{
   filter: invert(1);
   mix-blend-mode: multiply;
}
.main h2{
    position: relative;
    z-index:3;
    font-size:16vw;
    color:#fff;
    text-shadow: 0 20px 30px rgba(0,0,0,0.2)
}


.navigation{
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--white);
    z-index: 4;
    transition: 0.5s;
}
.navigation.active {
    left: 0;
}
.navigation li{
list-style: none;
}
.navigation li a{
  display: inline-flex;
  margin: 5px 0;
  font-size: 1.35rem;
  text-decoration: none;
  color:var(--black);
  padding: 5px 20px;
  border-radius:5% 25%;
}
.navigation li a:hover{
  background: var(--black);
  color: var(--white);
}
.copyrighttext{
    position: absolute;
    left: 100px;
    bottom: 40px;
    z-index: 4;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--black);
}
.sci{
    position: absolute;
    right: 100px;
    bottom: 40px;
    z-index: 4;
    display: flex;
    flex-direction: column;
}   
.sci li
{
  list-style: none;
}
.sci li a{
    text-decoration: none;
    color: var(--black);
    font-size: 1.75rem;
}

@media(max-width:768px)
{
    header
    {
        padding: 20px;
    }
    .copyrighttext
    {
        
        left: 20px;
        bottom: 30px;
    }
    .sci{
        right: 20px;
        bottom: 20px;

    }

    .btns{
        position:relative;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: 10px;
    }
   
}



@media(max-width:340px)
{
    header
    {
        padding: 20px;
    }
    .copyrighttext
    {
        
        left: 5px;
        bottom: 20px;
    }
    .sci{
        right: 15px;
        bottom: 10px;

    }
}


